<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" href="/general/css/index.css">
    <link rel="stylesheet" href="/social/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>

    <div id="sidebar">
        <li id="message-icon"><img src="/general/images/message-icon.png"></li> 
        <li id="feed-icon"><img src="/general/images/feed-icons.png"></li>
        <li id="notification-icon"><img src="/general/images/notification-icon.png"></li>
        <li id="menu-icon"><img src="/general/images/menu-icon.png"></li>  
        <li id="user-icon"><i class="fa-solid fa-user"></i></li>
        <li id="zoom-sidebar-icon"><i class="fa-solid fa-layer-group"></i></li>
    </div>

    <div id="content">

       <div id="story">
            <div id="add-story">
                <img src="/general/images/profile_picture.jpg" alt="">
                <div class="justify-content-center">
                    <button>
                        <i class="fa-solid fa-square-plus"></i>
                        <br>
                        Criar história
                    </button>
                </div>
            </div>
            <div id="stories">
            </div>
       </div>

       <div id="add-post">
            <form>
                <div class="input-group">
                    <input type="text" placeholder="Em que estás a pensar?" name="post-text">
                    <button type="submit">Publicar</button>
                </div>
                <hr>
                <div class="justify-content-center">
                    <div id="customize-post">
                        <h6>Adicionar à tua publicação</h6>
                        <div id="customize-post-icons">
                            <img src="/general/images/add-image-icon.png" alt="">
                            <img src="/general/images/identificate-fellow-icon.png" alt="">
                            <img src="/general/images/felling-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </form>
       </div>

        

    </div>

    <div id="menu">

        <div id="main-items">
            <h3>Menu</h3>

            <div class="search-card">
                <form>
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Pesquisa no menu">
                </form>
            </div>

            <h5 class="mb-3">Social</h5>
            <div class="item">
                <div class="icon">
                    <img src="/general/images/events-icon.png">
                </div>
                <div class="description">
                    <div class="title">
                        IMTATIC eventos
                    </div>
                    <div class="text">
                        Sempre por dentro dos últimos acontecimentos da instituição.
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="icon">
                    <img src="/general/images/friends-icon.png">
                </div>
                <div class="description">
                    <div class="title">
                        IMTATIC conexões
                    </div>
                    <div class="text">
                        Colegas se tornam amigos quando a distância não apaga a conexão
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="icon">
                    <img src="/general/images/groups-icon.png">
                </div>
                <div class="description">
                    <div class="title">
                        IMTATIC associação
                    </div>
                    <div class="text">
                        Juntos na turma, unidos na amizade.
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="icon">
                    <img src="/general/images/pages-icon.png">
                </div>
                <div class="description">
                    <div class="title">
                        IMTATIC páginas
                    </div>
                    <div class="text">
                        Conectando conhecimento, moldando o futuro.
                    </div>
                </div>
            </div> 

        </div>

        <div id="create-items">
            <h3>Criar</h3>

            <div class="item mt-3">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>Publicar</span>
            </div>

            <div class="item">
                <i class="fa-solid fa-book-open"></i>
                <span>História</span> 
            </div>
            <hr>
            <div class="item">
                <i class="fa-solid fa-flag"></i>
                <span>Página</span> 
            </div>
            <div class="item">
                <i class="fa-solid fa-calendar-plus"></i>
                <span>Evento</span> 
            </div>
            <div class="item">
                <i class="fa-solid fa-users"></i>
                <span>Associação</span> 
            </div>
        </div>

    </div>
    <script src="/social/js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</body>
</html>